# Streamlit and Dashboard
streamlit==1.28.0

# Core packages
numpy==1.24.3
pandas==2.1.1
matplotlib==3.8.0
scikit-learn==1.3.2
joblib==1.3.2

# TensorFlow for ML models (slightly lighter version for Streamlit Cloud)
tensorflow==2.13.0
tensorflow-estimator==2.13.0

# Required for loading .h5 LSTM models
h5py==3.9.0

# SHAP for explanations
shap==0.42.1
ipython>=8.14.0
